[Desktop Entry]
Type=Application
Version=1.0
Name=JBead
GenericName=Bead pattern designer
Comment=Design bead patterns for jewelry, peyote and brick stitch
Exec=jbead %F
Icon=jbead
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=application/x-jbead;
Keywords=bead;beading;pattern;jewelry;peyote;
