<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>jbead</string>
	<key>CFBundleIconFile</key>
	<string>jbead.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ch.jbead.JBeadApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>jbead</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.16</string>
	<key>Java</key>
	<dict>
		<key>Arguments</key>
		<string></string>
		<key>ClassPath</key>
		<array>
			<string>$APP_PACKAGE/Contents/Resources/Java/jbead.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.6*</string>
		<key>MainClass</key>
		<string>ch.jbead.JBeadApp</string>
		<key>Properties</key>
		<dict>
			<key>apple.awt.brushMetalLook</key>
			<string>false</string>
			<key>apple.awt.showGrowBox</key>
			<string>true</string>
			<key>apple.awt.textantialiasing</key>
			<string>on</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2001-2012 Damian Brunold</string>
	<key>NSJavaRoot</key>
	<string>Contents/Resources/Java</string>
</dict>
</plist>
